ONEEYE_HOST=127.0.0.1
ONEEYE_PORT=8000
CAMERA_STREAM_URL=0
# Four-camera example:
# ONEEYE_CAMERA_SOURCES={"cam1":"0","cam2":"http://192.168.1.20:8080/video","cam3":"","cam4":""}
ONEEYE_CORS_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
ONEEYE_CAMERA_WIDTH=1920
ONEEYE_CAMERA_HEIGHT=1080
ONEEYE_CAMERA_FPS=60
ONEEYE_INFERENCE_FPS=4
ONEEYE_STREAM_FPS=60
ONEEYE_STREAM_WIDTH=1920
ONEEYE_STREAM_HEIGHT=1080
ONEEYE_JPEG_QUALITY=92
ONEEYE_CONFIRMATION_FRAMES=2
ONEEYE_EVENT_COOLDOWN_SECONDS=20
